DB_USER=local
DB_PASSWORD=local
DB_DATABASE=local
DB_PORT=5435

DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@postgresql:5432/DB_DATABASE

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

BACKEND_JWT_EXPIRATION=15m
BACKEND_JWT_REFRESH_EXPIRATION=7d

SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_EMAIL_FROM=your_smtp_email_from
SMTP_EMAIL_TO=your_smtp_email_to

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4000

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET=media
MINIO_REGION=us-east-1