@config "../tailwind.config.js";
@tailwind utilities;

@import "tailwindcss";

  :root {
    --menu-height:75px;

    --background: #f7f4f1;
    --content: #ffffff;
    --content-foreground: #000000;
    --primary:#e10600;
    --primary-foreground:#ffffff;
    --secondary: #f3f3f3;
    --secondary-foreground:#ffffff
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
